body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h
section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

#contact a, #projects a {
    color: #0066cc;
    text-decoration: none;
}

#contact a:hover, #projects a:hover {
    text-decoration: underline;
}

.job, .education-item, .project {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    section {
        margin: 10px 0;
        padding: 10px;
    }
}
